.game {
    position: absolute;
    top: 0;
    left: 0;
    z-index:; -1;
}

.canvasui {
	position: absolute;
	transition: opacity 0.1s linear;
	-moz-transition: opacity 0.1s linear;
   	z-index: 1;
   	opacity:1;
}

body {
 background:url(../assets/img/runeterra.png);
 margin: 0;
}

td {
	text-align: left;
	vertical-align: top;
	width: 200px;
}
.ui:hover {
	/*width:200px;*/
}
.ui {
	/*width: 100px;*/
}

.btn-primary {
  border: 3px solid rgba(192,252,253,.7);
  border-radius: 0;
  padding: 13px 35px 12px;
  font-size: 18px;
  font-family: Verdana;
  background: #1e2328;
  background-image: transparent;
  box-shadow: 0 0 0 0 transparent;
  border-image: linear-gradient(to bottom,#08abac 0,#01698b 100%);
  border-image-slice: 1;
  color: #f0e6d2;
  transition: background ease .5s;
}
.btn-primary:hover
 {
   background-image: url(../assets/img/buttons/btn.jpg);
   background-position: center center;
   background-size: cover;
   box-shadow: 0 0 10px 4px rgba(192,252,253,.4),inset 0 0 5px 2px rgba(192,252,253,.3);
   border: 3px solid rgba(192,252,253,.7);
  cursor: pointer;

}

.btn-primary:active {
  background-color: #417cb8;
}

.btn-primary:focus{
  outline:0;
}

.button {
  padding: 13px 35px 12px;
  font-size: 18px;
  cursor: pointer;
  background: #1E2328;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  transition: .15s;
  position: relative;
  z-index: 2;
  color: #cdbe91;
  border: 3px #a98130 solid;
  box-shadow: 0 0 0px 1px #000;
}

.button:focus{
  outline:0;
}

.button:hover {
  color: #F0E6D2;
}

.button:active {
  color: #F0E6D2;
}



#roll {
  position:absolute;;
  left: 325px;
  top: 275px;
}

#roll:hover{
}

#uipanel{
	width: 350px;
}

#hudpanel tr{
    //border: 2px;
}

#diceroll {
	position: absolute;
	z-index: 1;
	top: 50px;
	left: 450px;
}

#players {
	position: absolute;
	z-index: 1;
	top: 25px;
	left: 450px;
}
